<template>
  <div>
    <v-snackbar
      :color="snackbar.color"
      v-model="snackbar.show"
      height="-40"
      absolute
      multi-line
      location="top"
    >
      <strong class="text-center align-center">{{ snackbar.message }}</strong>
    </v-snackbar>
    <v-container class="align-self-center">
      <v-row no-gutters>
        <v-col cols="1"></v-col>
        <v-col cols="10" md="8" lg="4">
          <v-text-field
            prepend-inner-icon="mdi-magnify"
            v-model="search"
            placeholder="Buscar Url largo o hash"
            class="pt-4 mr-2 shrink custom-placeholder-color"
          ></v-text-field>
        </v-col>
        <v-col cols="1"></v-col>
      </v-row>

      <v-row >
        <v-col cols="1"> </v-col>
        <v-col cols="10">
          <table>
            <thead id="informacion">
              <tr>
                <th>HASH</th>
                <th>URL LARGO</th>
                <th>
                  <v-btn variant="text" @click="ordenarFechaCrea"
                    >Fecha creación</v-btn
                  >
                </th>
                <th>
                  <v-btn variant="text" @click="ordenarFechaActu"
                    >Fecha edicion</v-btn
                  >
                </th>
                <th>
                  <v-btn variant="text" @click="ordenarActivo">Status</v-btn>
                </th>
                <th>Nº Veces Usada</th>
                <th>Edicion</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="urls in filteredData" :key="urls._id">
                <td data-th="URL CORTO">{{ urls.shortUrl }}</td>

                <td data-titulo="URL LARGO">{{ urls.originalUrl }}</td>

                <td data-titulo="Fecha creación">
                  {{ new Date(urls.fechaGabracion).toLocaleString() }}
                </td>

                <td data-titulo="Fecha edicion">
                  {{ new Date(urls.fechaEdicion).toLocaleString() }}
                </td>

                <td data-titulo="Activo">
                  <v-switch
                    color="green"
                    :model-value="urls.activa"
                    @change="actualizarActivar(urls.activa, urls._id)"
                  ></v-switch>
                </td>

                <td data-titulo="Nº Veces Usada">{{ urls.nveces }}</td>

                <td>
                  <router-link
                    :to="{
                      path: `/editar/${urls._id}`,
                      params: { id: urls._id },
                    }"
                  >
                    <v-btn
                      tile
                      variant="outlined"
                      color="black-lighten-1"
                      size="small"
                    >
                      <v-icon left>mdi-pencil</v-icon> edit</v-btn
                    >
                  </router-link>

                  <v-btn
                    tile
                    variant="outlined"
                    color="red-lighten-1"
                    size="small"
                    @click="cogerId(urls._id), (overlay = !overlay)"
                  >
                    <v-icon left>mdi-delete</v-icon>
                    Delet</v-btn
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </v-col>
        <v-col cols="1"> </v-col>
      </v-row>

      <v-row>
        <v-col cols="1"></v-col>
        <v-col cols="10">
          <v-alert
            variant="outlined"
            type="warning"
            prominent
            border="top"
            v-if="filtrado.length == 0"
          >
            No existe Urls
          </v-alert>
        </v-col>
        <v-col cols="1"></v-col>
      </v-row>
      <v-row>
        <v-col cols="2"></v-col>
        <v-col cols="12" md="8" lg="3">
          <!-- <v-btn
            class="btn-anterior-siguiente"
            v-if="page != 1"
            @click="page--"
          >
            <v-icon left>mdi-chevron-left</v-icon> ANTERIOR</v-btn
          > -->
          <v-pagination
            active-color="#005972"
            v-model="page"
            :length="paginas"
            :total-visible="5"
          ></v-pagination>
        </v-col>
        <!-- <v-btn
            class="btn-anterior-siguiente"
            v-if="page < paginas"
            @click="page++"
          >
            SIGUIENTE<v-icon right>mdi-chevron-right</v-icon></v-btn
          > -->
      </v-row>
    </v-container>
  </div>
  <v-overlay
    v-model="overlay"
    scroll-strategy="reposition"
    class="align-center justify-center"
  >
    <v-card width="400" title="Borrar" text="¿Seguro que desea borrar Url?">
      <v-btn color="#edac2e" @click="eliminar(), (overlay = false)">
        Si
      </v-btn></v-card
    >
  </v-overlay>
</template>
<script lang="ts" src="./Listado.ts"></script>
<style lang="scss" scoped>
@import "./Listado.scss";
</style>
