.btn-anterior-siguiente {
    background-color: #005972;
    color: #fff;
  }
  table{
    text-align:center;
    width: 100%;
  }
   th{
    color: #fff;
    background-color: #005972;
    text-align: center;

  }
  td {
    background-color: #fff;
    border-bottom: 1px solid #005972;
  }
  
  
  @media screen and (max-width: 1400px) {
    table{
      width: 100%;
      font-size: 0.8em;
    }
   table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid  #005972;
    padding: 1em;
    margin-bottom: 2em;
   } 
      table td[data-titulo]{
      display: flex;
    }
    table td[data-titulo]::before{
      content: attr(data-titulo);
      width: 60px;
      color: #005972;
      font-weight: bold;
    }
    table thead{
      display: none;
    }
    table td, table th {
      border: none;
      margin-bottom: 1em;
    }
  }
