<template>
  <div>
    <v-snackbar
      :color="snackbar.color"
      v-model="snackbar.show"
      height="-12"
      absolute
      multi-line
      location="top"
    >
      <strong class="text-center align-center">{{ snackbar.message }}</strong>
    </v-snackbar>
    <v-container class="align-self-center">
      <v-row no-gutters>
        <ul id="lista1">
          <li>
            <router-link to="/">Ir inicio</router-link
            ><v-icon right>mdi-chevron-right</v-icon>
          </li>
          <li>
            <router-link to="/editar">Edición</router-link>
          </li>
        </ul>
      </v-row>
      <br /><br />
      <v-row no-gutters>
        <v-col cols="12" sm="4"></v-col>
        <v-col cols="12" sm="4">
          <v-card class="p-8" max-width="800">
            <v-card-title>
              <p class="text-h4 text--primary">Editar url</p>
            </v-card-title>
            <v-card-text>
              <v-form>
                <v-text-field
                  label="Url largo"
                  v-model="datos.originalUrl"
                ></v-text-field>
                <v-text-field
                  label="Url Corto"
                  v-model="datos.shortUrl"
                ></v-text-field>
                <v-switch
                  color="green"
                  :model-value="datos.activa"
                  @change="cambiarActivo(datos.activa)"
                  label="Desactivar/Activar"
                ></v-switch>
                <div class="otro">
                  <v-btn
                    class="papelera"
                    tile
                    variant="outlined"
                    color="red-lighten-1"
                    @click="cogerId(id), (overlay = !overlay)"
                  >
                    <v-icon left>mdi-delete</v-icon>
                    Delet</v-btn
                  >
                </div>
                <br /><br />
                <v-btn size="large" rounded="lg" @click="actualizar">
                  Actualizar
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4"></v-col>
      </v-row>
    </v-container>
    <v-overlay v-model="overlay" contained class="align-center justify-center">
      <v-card width="400" title="Borrar" text="¿Seguro que desea borrar Url?">
        <router-link
          :to="{
            path: '/',
          }"
          ><v-btn color="#edac2e" @click="eliminar(), (overlay = false)">
            Si
          </v-btn></router-link
        ></v-card
      >
    </v-overlay>
  </div>
</template>

<script lang="ts" src="./FormEdit.ts">

</script>
<style lang="scss" scoped>
@import './FormEdit.scss';
</style>
 
