
.v-btn {
    background-color: #edac2e;
  }
  #lista1 li {
    display: inline;
  }
  .otro {
    text-align: right;
    margin-right: 40px;
  }
  .v-form {
    text-align: center;
  }
  .papelera {
    background-color: #fff;
  }